ErrorDocument 401 http://localhost/shoponline/error

ErrorDocument 403 http://localhost/shoponline/error

ErrorDocument 404 http://localhost/shoponline/error

ErrorDocument 500 http://localhost/shoponline/error

RewriteEngine On
RewriteRule "error" "index.php?controller=error"
RewriteRule "home" "index.php?controller=home"
RewriteRule "product" "index.php?controller=product"
RewriteRule "contact" "index.php?controller=contact" [L]