ErrorDocument 401 http://localhost/iblog/error

ErrorDocument 403 http://localhost/iblog/error

ErrorDocument 404 http://localhost/iblog/error

ErrorDocument 500 http://localhost/iblog/error

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1